<header >
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div>
        <a class="navbar-brand me-2 header-name" href="#">
          Jam Channel
        </a>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-header"
          data-mdb-toggle="modal"
          data-mdb-target="#staticBackdrop" >
          login
        </button>
        <%= render 'template/modallogin' %>
      </div>
    </div>
  </nav>
</header>