<!-- <form id="login" class="text-center needs-validation" action="login" method="post" name="login-form"> -->
<%= form_with  url:login_path, local: true do |f| %>
  <p class="status"></p>
  <div class="text-center mb-3">
    <div class="wp-social-login-widget">
      <div class="wp-social-login-connect-with">Connect with:</div>
      <div class="wp-social-login-provider-list">
        <a rel="nofollow" href="https://mdbootstrap.com/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Facebook&amp;redirect_to=https%3A%2F%2Fmdbootstrap.com%2F" title="Connect with Facebook" class="wp-social-login-provider wp-social-login-provider-facebook btn btn-primary  mx-1 ripple-surface" data-provider="Facebook" role="button" style="min-width: 37px;"><i class="fab fa-facebook-f"></i></a>
        <a rel="nofollow" href="https://mdbootstrap.com/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Google&amp;redirect_to=https%3A%2F%2Fmdbootstrap.com%2F" title="Connect with Google" class="wp-social-login-provider wp-social-login-provider-google btn btn-primary  mx-1" data-provider="Google" role="button"><i class="fab fa-google"></i></a>
        <a rel="nofollow" href="https://mdbootstrap.com/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Twitter&amp;redirect_to=https%3A%2F%2Fmdbootstrap.com%2F" title="Connect with Twitter" class="wp-social-login-provider wp-social-login-provider-twitter btn btn-primary  mx-1" data-provider="Twitter" role="button"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <p class="text-center">or:</p>
  <div class="form-outline form-auth-mdb mb-4">
    <!-- <input type="text" id="username" class="form-control" name="username" required=""> -->
    <%= f.email_field :email, autofocus: true, id: "username", autocomplete: "email",class: "form-control",name: "email",required: "" %>
    <label class="form-label" for="username" style="margin-left: 0px;">Your e-mail</label>
    <div class="form-notch">
      <div class="form-notch-leading" style="width: 9px;"></div>
      <div class="form-notch-middle" style="width: 146.4px;"></div>
      <div class="form-notch-trailing"></div>
    </div>
  </div>
  <div class="form-outline form-auth-mdb mb-4">
    <!-- <input type="password" id="password" class="form-control" name="password" autocomplete="off" required=""> -->
     <%= f.password_field :password, autocomplete: "new-password",class: "form-control", id: "password", name: "password", required: ""%>
    <label class="form-label" for="password" style="margin-left: 0px;">Your password</label>
    <div class="form-notch">
      <div class="form-notch-leading" style="width: 9px;"></div>
      <div class="form-notch-middle" style="width: 92.8px;"></div>
      <div class="form-notch-trailing"></div>
    </div>
  </div>
  <div class="justify-content-center mb-4">
  </div>
  <button class="btn btn-primary btn-block mb-4" type="submit" value="LOGIN">Sign in</button>
  <div class="text-center">

  </div>
<% end %>
<!-- </form> -->

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict';

// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation');

// Loop over them and prevent submission
Array.prototype.slice.call(forms).forEach(function (form) {
form.addEventListener(
'submit',
function (event) {
if (!form.checkValidity()) {
event.preventDefault();
event.stopPropagation();
}

form.classList.add('was-validated');
},
false
);
});
})();
</script>