<head>
<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
</head>


<div class="drawer drawer--left">
  <div role="banner">

    <nav class="drawer-nav" role="navigation">
      <ul class="drawer-menu">
        <li><a class="drawer-brand" href="#">My Menu</a></li>
        <li><a class="drawer-menu-item" href="#">マイページ管理</a></li>
        <li><a class="drawer-menu-item" href="#">Twitter API</a></li>
        <li><a class="drawer-menu-item" href="#">Instagram API</a></li>
        <li><a class="drawer-menu-item" href="#">株価4%チェック API</a></li>
        <li><a class="drawer-menu-item" href="#">トップページ</a></li>
      </ul>
    </nav>
  </div>
</div>

<script>
$('.drawer').drawer({
  class: {
    nav: 'drawer-nav',
    toggle: 'drawer-toggle',
    overlay: 'drawer-overlay',
    open: 'drawer-open',
    close: 'drawer-close',
    dropdown: 'drawer-dropdown'
  },
  iscroll: {
    // Configuring the iScroll
    // https://github.com/cubiq/iscroll#configuring-the-iscroll
    mouseWheel: true,
    preventDefault: false
  },
  showOverlay: true
});
</script>