<!-- Modal -->
<div 
  class="modal fade" 
  id="staticBackdrop7" 
  data-mdb-backdrop="static" 
  data-mdb-keyboard="false" 
  tabindex="-1" 
  aria-labelledby="staticBackdrop7Label" 
  style="display: none;" 
  data-gtm-vis-first-on-screen-2340190_1302="98715" 
  data-gtm-vis-total-visible-time-2340190_1302="100" 
  data-gtm-vis-has-fired-2340190_1302="1" 
  aria-modal="true"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...test7</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" style="">
          Close
        </button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>