<% info1 = mandarat.infos.where(solved1: 1).count%>
<% info2 = mandarat.infos.where(solved2: 1).count%>
<% info3 = mandarat.infos.where(solved3: 1).count%>
<% info4 = mandarat.infos.where(solved4: 1).count%>
<% info5 = mandarat.infos.where(solved5: 1).count%>
<% info6 = mandarat.infos.where(solved6: 1).count%>
<% info7 = mandarat.infos.where(solved7: 1).count%>
<% info8 = mandarat.infos.where(solved8: 1).count%>
<% infos = info1 + info2 + info3 + info4 + info5 + info6 + info7 + info8 %>
<% @total = ((infos.to_f / (mandarat.infos.count * 8).to_f) * 100).round(1)%>
<% @hako = mandarat.infos.select(:created_at,:ave)%>
<% @charts = @hako.pluck(:created_at, :ave) %>
<% @charts.each do |chart| %>
  <% chart.each do |n| %>
    <% if chart[0] == n %>
      <% chart[0] = n.strftime("%Y-%m-%d")%>
    <% end %>
  <% end %>
<% end %>
<div>
  <div class="chart">
    <div class="percentage" data-percent="<%= @total %>">
      <span><%= @total %></span><sup>%</sup>
    </div>
    <div class="chart-ave">Total Ave</div>
  </div>
  <div>
    <%#= pie_chart [['赤', 50], ['青', 50]]%>
    <%= line_chart @charts.last(7), xtitle: "Average 7 times" %>  <!-- , discrete: true , curve: false-->
  </div>
</div>
<div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" style="">
      Close
    </button>
    <%= link_to "詳細", mandarat_path(mandarat),class: "btn btn-primary" %>
  </div>
</div>
<script src="http://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js"></script>
<script>
  $('.percentage').easyPieChart({
    animate: 1000,
    lineWidth: 4,
    onStep: function(value) {
      this.$el.find('span').text(Math.round(value));
    },
    onStop: function(value, to) {
      this.$el.find('span').text(Math.round(to));
    }
  });
</script>
