<p>
<%= link_to 'ログアウト', logout_path, method: :delete %>
</p>
<!--<div>
<canvas id="myCanvas"></canvas>
</div> -->


<%# @items.each do |item| %>
<%#     binding.pry %>
<%#= item.name %>
<%# end %>





