<p>
<%= link_to 'ログアウト', logout_path, method: :delete %>
</p>
<!--<div>
<canvas id="myCanvas"></canvas>
</div> -->

<%# @items.each do |item| %>
  <%#if item[4] == true %>
  <%# binding.pry %>
    <%#= item.title %>
  <%# else %>
    <%#= item.name %>
  <%# end %>
<%# end %>
<% @mandarat.each do |item| %>
<%= item.name %>
<% end %>





