@import "bootstrap";
// @import '~mdb-ui-kit/css/mdb.min.css';

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'homes';
@import 'torero';
@import 'mandarats-background';
@import 'mandarats-index';


* {
  box-sizing: border-box;
}


header{
  background-color: rgba(255,0,0,0);
  .header-name{
    font-family: 'Smooch', cursive;
  }
  nav{
    height: 8vh;
    .btn-header {
      color: #fff;
      background-color: black;
      border-color: black;
    }
  }

}


footer{
  background-color: rgba(255,0,0,0);

}

.test{
  padding-bottom: 5%;
  padding-top: 5%;
}

.chart{
  width: 110px;
  margin: 40px auto 20px;
  padding: 0 10px;
  &-ave{
    font-weight: 400;
    margin-left: 19px;
  }
}
.easyPieChart {
  position: relative;
  text-align: center;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.percentage,
.label {
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: 100;
}
.percentage{
  font-size: 17px;
  sup{
    top: -0.2em;
    margin-left: 1px;
  }
}


#particles-js{ 
  position:fixed;
  z-index:1;
  width: 100%;
  height: 100%;
  background-color:#000;
}

.react-image{
  border: 2px solid;
}

.timeline-box{
  padding-bottom: 14vh;
  background-color: #e5d9d9;
  .timeline-card-content{
    width: 34vw;
  }
  .card-title{
    text-align: center;
  }
  .card-sub-title{
    text-align: center;
  }
  .timeline-controls{
    display: none;
  }
}

.top-text{
  text-align: center;
}

