@import "bootstrap";
// @import '~mdb-ui-kit/css/mdb.min.css';

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'homes';
@import 'torero';
@import 'mandarats-background';
@import 'mandarats-index';




* {
  box-sizing: border-box;
}


header{
  background-color: rgba(255,0,0,0);
  .header-name{
    font-family: 'Smooch', cursive;
  }
  nav{
    height: 8vh;
    .btn-header {
      color: #fff;
      background-color: black;
      border-color: black;
    }
  }

}


footer{
  background-color: rgba(255,0,0,0);

}

.test{
  padding-bottom: 5%;
  padding-top: 5%;
}



