@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'homes';


* {
  box-sizing: border-box;
}


header{
  .header-name{
    font-family: 'Smooch', cursive;
  }
}


footer{
  height: 12vh;
  background-color: #fff;

}
